BikeDistributor.Test/Properties/AssemblyInfo.cs
BikeDistributor.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BikeDistributor.Test/obj/
BikeDistributor/obj/
BikeDistributor/Properties/
